.nav-wrapper.white {
    padding-left: 28px;
}

.google-logo {
  width: 78px;
}

.collapse-button {
  color: #000;
}

/*.spanstyle {
  color:blue;
}
*/
.logo {
  font-size: 24px;
}
/*
.headline {
  position: relative;
}*/
