.nav-wrapper.white {
    padding-left: 28px;
}

.google-logo {
    width: 77px;
    position: relative;
    top: 10px;
    left:2px;
}

.collapse-button {
  color: #000;
}

.logo {
  font-size: 22.5px;
}
